---
import {Image} from 'astro:assets';
import Angular from './images/_angular.png';
import Codecept from './images/_codecept.png';
import Vue from './images/_vue.png';
import React from './images/_react.png';
import ai from './images/_ai.png';
import TrustedCarousel from './components/trusted/index.astro';
import Features from './components/features/index.astro'
import Demos from './components/demos/index.astro'
import Example from './components/example/index.astro'
import Quotes from './components/quotes/index.astro'
import Testomatio from './components/testomatio/index.astro'
import _mitko from "./components/quotes/images/_mitko.jpg";
---

<section class="hero">
    <div class="container">
        <div class="hero-about">
            <h1>
                <span>CodeceptJS</span> ‐ supercharged <br>
                <span>End 2 End</span> Testing
            </h1>
            <a class="link-button" href="/quickstart">Quickstart</a>
        </div>
        <div class="hero-image">
            <div class="circe-wrapper">
                <div class="circle">
                    <div class="icon-block">
                        <a href="/angular">
                            <Image src={Angular} alt=""/>
                        </a>
                    </div>
                    <div class="icon-block">
                        <a href="/vue">
                            <Image src={Vue} alt=""/>
                        </a>
                    </div>
                    <div class="icon-block">
                        <a href="/react">
                            <Image src={React} alt=""/>
                        </a>
                    </div>
                    <div class="icon-block">
                        <a href="/ai">
                            <Image src={ai} alt=""/>
                        </a>
                    </div>
                </div>
                <div class="center-logo">
                    <Image src={Codecept} alt=""/>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="trust">
    <div class="container">
        <div class="text">
            Trusted By Enterprises
        </div>
        <TrustedCarousel/>
    </div>
</section>

<section class="features">
    <div class="container">
        <Features/>
    </div>
</section>

<section class="demos">
    <div class="container">
        <Demos/>
    </div>
</section>

<section class="example">
    <div class="container">
        <Example/>
    </div>
</section>

<section class="quotes">
    <div class="container">
        <Quotes/>
    </div>
</section>

<section class="testomatio">
    <div class="container">
        <Testomatio/>
    </div>
</section>

<style lang="scss">

    .hero-image {
       width: 40%;
    }

    .circe-wrapper {
        display: flex;
        align-items: center;
        margin-top: 0 !important;
        width: 400px;
        height: 400px;
        position: relative;
    }

    .icon-block {
        width: 64px;
        height: 64px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border: 2px solid var(--sl-color-text-accent);
        margin-top: 0 !important;

        img {
            margin: 0 auto;
            width: 60%;
        }

        &:first-child {
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
        }

        &:nth-child(3) {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }

        &:nth-child(4) {
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
        }
    }

    .circle {
        animation: circle-rotate 60s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 75%;
        height: 75%;
        border: 2px solid var(--sl-color-text-accent);
        border-radius: 50%;

        .icon-block img {
            animation: img-rotate 60s linear infinite;
        }

        &:hover {
            animation-play-state: paused;
            .icon-block img {
                animation-play-state: paused;
            }
        }
    }

    .center-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0 !important;

        img {
            max-width: 120px;
        }
    }

    @keyframes Rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes Rotate-reverse {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    @keyframes circle-rotate {
        from {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        to {
            transform: translate(-50%, -50%) rotate(405deg);
        }
    }

    @keyframes img-rotate {
        from {
            transform: rotate(-45deg);
        }

        to {
            transform: rotate(-405deg);
        }
    }

    section {
        line-height: normal;
    }

    .link-button {
        font-size: var(--sl-text-base);
        padding: 1.2rem 4.25rem;
        background: var(--sl-color-text-accent);
        border-color: var(--sl-color-text-accent);
        color: var(--sl-color-black) !important;
        align-items: center;
        border-radius: 999rem;
        display: inline-flex;
        gap: .5em;
        line-height: 1.1875;
        outline-offset: .25rem;
        text-decoration: none;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .hero {
        position: relative;
        padding-top: 4rem;
        padding-bottom: 1rem;
        text-align: left;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.32;
            letter-spacing: -2px;
        }

        span {
            display: inline-block;
        }
        .container {
            display: flex;
            align-items: center;
        }

        .hero-about {
            width: 60%;
        }

        .hero-image {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0 !important;
        }

    }

    .container {
        max-width: 67.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .trust {
        padding: 3rem 0;

        .container {
            display: flex;
            align-items: center;
        }

        .text {
            font-size: 1.6rem;
            font-weight: bold;
            width: 180px;
            margin-right: 70px;
        }
    }

    section {
        margin-top: 0 !important;
    }

    .features {
        padding-top: 120px !important;
        padding-bottom: 80px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #5267ee 100%, #ffffff 0%);
            filter: blur(30px);
            opacity: 0.1;
            z-index: -1;
        }
    }

    .demos {
        padding: 80px 0 40px;
    }
    .example {
        padding: 40px 0 40px;
    }
    .quotes {
        padding: 40px 0 40px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #5267ee 100%, #ffffff 0%);
            filter: blur(30px);
            opacity: 0.1;
            z-index: -1;
        }
    }

    .testomatio {
        text-align: center;
        padding: 80px 0 60px;
    }
</style>